<div style='display: flex; margin: 10px;'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to myFlix!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="accent">
        Sign Up
      </button>
      <button mat-raised-button color="accent" (click)="openUserLoginDialog()" style="margin-right: 10px;">
        Login
      </button>
    </mat-card-content>
  </mat-card>
</div>